*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-full-width{
  width: 100%;
}

[class*="col-"]{
  /* background-color: green; */
  /* min-height: 100px; */
  /* border: solid white 1px; */

}

img{
  max-width: 100%;
  height: auto;
}

.centra-head-foot{
  padding: 0 10%;
}

.text-black{
  color: black;
}

.text-white{
  color: white;
}

a{
  text-decoration: none;
}

.m-auto{
  margin-left: auto;
  margin-right:auto;
}

/******************** header *****************/

header{
  padding-top: 100px;
}

#nav-large{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

#logo{
  letter-spacing: 5px;
}

#menu-large li, #lingue li{
  display: inline-block;
  padding: 0 5px;
  font-size: 13px;
}

#lingue .bordo-destro{
  border-right: solid black 1px;
  padding-right: 10px;
}

#nav-mobile{
  display: none;
}

#jumbo{
  padding-top: 100px;
  min-height: 500px;
  background-image: url(../img/jumbo.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;

}

#jumbo h1{
  font-size: 50px;
  padding-bottom: 20px;
}
#jumbo h2{
  font-size: 20px;
  padding-bottom: 20px;
}

#store-jumbo{
  padding-left: 35%;
  padding-right: 35%;
}
/******************* corpo pagina **************/

/* SEZIONE PRODOTTI */
.centra-sez1{
  padding: 0 5%;
  margin-top: 10%;
}

.prodotti{
  padding: 96px;
  background-color: #fafafa;
  text-align: center;
  margin: 0 20px;
}

.prodotti h1{
  font-size: 30px;
}

.prodotti h2{
  padding: 30px 0;
  font-weight: lighter;
}

.prodotti a{
  font-size: 20px;
}

.prodotti img{
  max-height: 340px;
  display: block;
}




/* SEZIONE HOW TO */

.centra-sez2{
  padding-top: 10%;
  position: relative;
}

#bgimg-how-to{
  background-image: url(../img/anziano.jpg);
  background-size: cover;
  height: 500px;
}

#slide-img-how-to{
  position: relative;
  top: 50%;
  transform: translateY(-60%);
  text-align: center;
}

#slide-img-how-to img{
  max-height: 510px;
}

#text-left{
  padding-left: 250px;
  margin-top: 50px;
}

#text-left h2{
  font-size: 30px;
  letter-spacing: 2px;
}

#text-right{
  margin-top: 50px;
  line-height: 35px;
}

#text-right p{
  font-size: 20px;
}


/* SEZIONE SMART MOBILITY */
.centra-sez3{
  padding: 0 5%;
}

#first-image {
  background-image: url(../img/helbiz-green.jpg);
  background-size:cover;
}

#text-smartmobility{
  text-align: center;
  padding: 130px;
}

#text-smartmobility h2{
  font-size: 50px;
  padding-bottom: 30px;
}

#text-smartmobility p{
  font-size: 25px;
  letter-spacing: 1px;
  padding-bottom: 30px;
}

#text-smartmobility a{
  font-size: 25px;

}

#left-app{
  background-image: url(../img/iphone-map.png);
  background-color: #313c4c;
  background-size: 300px, 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: center;
  padding-bottom: 500px;
}

.text-app-and-city h2{
  font-size: 40px;
  padding: 50px 0 ;
}

.text-app-and-city p{
  font-size: 20px;
  padding-bottom: 30px;
}

.text-app-and-city a{
  font-size: 20px;
  margin-right: 20px;
}
#right-city{
  background-image: url(../img/washington.jpg);
  text-align: center;
  background-size: cover;
  padding-bottom: 500px;
}




/* SEZIONE SOCIAL*/

#social{
  margin-top: 10%;
  background-image: url(../img/pachwork.jpg);
  padding: 150px;
}

#testo-social{
  background-color: white;
  text-align: center;
  font-size: 25px;
  padding: 50px;
}

.icone-social li{
  list-style: none;
  display: inline-block;
}




/**************** footer ***************************/

footer{
  background-color: black;
}

.categories a{
  line-height: 40px;
  color: grey;

}

#contenitore-socialandcopyright{
  border-top: solid grey 1px;
  border-bottom: solid grey 1px;
}

#icone-social-centrali{
  text-align: center;
  padding: 20px;
}

#conditions li{
  padding-top: 20px;
}
#conditions a{
  color: white;
}

#store{
  padding-top: 30px;
  padding-left: 40%;
  padding-right: 40%;
}
